@import "variable";

section:nth-of-type(2) {
    background-image: url("../img/feature_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    h5 {
        text-align: center;
        padding-top: 82px;
        padding-left: 50px;
        margin: 0;
    }
    h3 {
        text-align: center;
        padding-top: 5px;
        padding-left: 25px;
        padding-bottom: 18px;
        margin: 0;
    }
    details {
        text-align: left;
        color: #FFB548;
        // left: calc(50% - 70px);
        padding-left: 110px;
        padding-right: 18px;
        margin: 0;
    }
}