@import "variable";

@font-face {
  font-family:  "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue"),
        url(../fonts/AnyConv.com__BebasNeue-Regular.woff2),
        url(../fonts/AnyConv.com__BebasNeue-Regular.woff),
}

@font-face {
  font-family:  "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local( "Open Sans"),
        url(../fonts/AnyConv.com__OpenSans-Regular.woff2),
        url(../fonts/AnyConv.com__OpenSans-Regular.woff),
}

