@import "variable";

// @mixin base($x: 0, $y: 0, $u: none) {
//     margin: $x;
//     padding: $y;
//     list-style: $u;
// }

// @mixin mix-base {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     text-decoration: none;
// }

// @mixin flex {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }

  
// @mixin horizontal-list {
//     @include list;
//     li {
//       display: inline-block;
//       margin: {
//         left: 10px;
//         right: 10px;
//     }
//   }
// }
// nav ul {
//   @include horizontal-list;
// }


footer {
    background-color: #000000;
    .first_list_footer {
        border-bottom: 0.873968px solid #FFFFFF; 
    }
    .footer_logo {
        padding-top: 30px;
        padding-bottom: 42px;
        text-align: center;
        margin: 0;
    }
    .footer_navigation {
        display: flex;  
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        li {
            color: #FFFFFF;
            text-transform: uppercase;
            margin: 0;
            flex-basis: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .footer_navigation_icons {
        display: flex;  
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        li {
            margin: 0;
            flex-basis: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .extra  {
        margin: 0;
        padding-top: 15px;
        .first_footer_link {
            text-align: center;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            opacity: 0.5;
            padding-top: 25px;
            padding-bottom: 25px;
            a {
                color: #FFFFFF;
            }
        }
        .footer_policy {
            padding-bottom: 65px;
            li {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 34px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
                a {
                    color: #FFFFFF;
                }
            }
        }
    }
}

@media(min-width: 1120px) {
	footer {
		.first_list_footer {
			display: flex;  
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
            align-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            ul {
                display: flex;  
                flex-direction: row;
                justify-content: space-around;
                align-content: center;
                li {
                    padding: 0 1rem;
                }
            }
            .footer_logo {
				padding: 0;
				text-align: left;
				margin: 0;
				a {
					img {
						width: 90px;
					}
				}
            }
        }
        .extra {
            display: flex;  
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            .footer_policy {
                display: flex;  
                flex-direction: row;
                align-content: center;
                justify-content: space-between;
                li {
                    padding: 0 1rem;
                }
            }
        }
	}
}

