@import "variable";

body header {
    position: relative;
    .sub-container {
        z-index: 1;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .sub-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        align-items: center;
        .head_logo {
            img {
                max-width: 40px;
            }
        }
    }
    .menu {
        order: 2;
    }
    .header_navigation {
        display: none;
    }
    .checkbox {
        display: none;
    }
    .details {
        order: 1;
        details {
            summary {
                color: #FFFFFF;
                font-family: "Open Sans";
                font-size: 18px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 2px;
                color: #FFFFFF;
                margin: 0;
                font-style: normal;
                padding-left: 6rem;
            }
            summary::-webkit-details-marker {
                display: none;
            }
        }
    }
    .first_icon {
        display: none;
        order: 3;
    }
    .second_icon {
        display: none;
        order: 4;
    }
}








@media(min-width: 720px) {
    body  header {
        .details {
            details {
                summary {
                    font-size: 22px;
                    padding-left: 20rem;
                }
            }
        }
        .sub-container {
            .head_logo {
                img {
                    max-width: 60px;
                }
            }
        }
        .first_icon {
            display: block;
            order: 3;
        }
        .second_icon {
            display: block;
            order: 4;
        }
    }
}

@media(min-width: 900px) {
    body  header {
        .details {
            details {
                summary {
                    font-size: 24px;
                    padding-left: 20rem;
                }
            }
        }
        .first_icon {
            display: block;
            order: 3;
        }
        .second_icon {
            display: block;
            order: 4;
        }
    }
}




@media(min-width: 1120px) {
    body > header {
        .header_navigation {
            .details {
                details {
                    summary {
                        padding-left: 0;
                    }
                }
            }
            display: block;
            ul {
                display: flex;
                flex-direction: row;
            }
            a {
                color: #FFFFFF;
            }
        }

    }
}

