@import "variable";

main > header {
    background-image: url(../img/bgimage_1.jpg);
    background-position: center center;
    background-size: cover;
    h3 {
        text-align: center;
        padding-top: 229px;
    }
    h5 {
        text-align: center;
        padding-top: 7px;
        padding-bottom: 12px;
    }
    .wrapper_button {
        font-family: "Open Sans";
        text-align: center;
    }
    .history_dropdown {
        padding-top: 174px;
        padding-left: 10px;
        text-align: left;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 49px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li:nth-of-type(2) {
                ul {
                    display: flex;
                    flex-direction: row;
                    padding-right: 10px;
                    justify-content: center;
                    align-items: center;
                    li {
                        padding-right: 6px;
                    }
                    li:nth-of-type(1) {
                        margin-top: 12px;
                    } 
                }
            
            }
        }
    }
}

@media(min-width: 720px) {
    main header {
        h3 {
            padding-top: 530px;
        }
        h5{
            padding-top: 7px;
            padding-bottom: 12px;
        }
        .history_dropdown {
            text-align: center;
            padding-top: 174px;
        }
        .history_dropdown {
            text-transform: uppercase;
            color: #FFFFFF;
            padding-bottom: 49px;
        }
        .add {
            text-align: center;
        }
    
    }
}

@media(min-width: 1120px) {
    // main header {
    //     h3 {
    //         padding-top: 530px;
    //     }
    //     h5{
    //         padding-top: 7px;
    //         padding-bottom: 12px;
    //     }
    //     .history_dropdown {
    //         text-align: center;
    //         padding-top: 174px;
    //     }
    //     .history_dropdown {
    //         text-transform: uppercase;
    //         color: #FFFFFF;
    //         padding-bottom: 49px;
    //     }
    //     .add {
    //         text-align: center;
    //     }
    
    // }
}
