@import "variable";

section:nth-of-type(4) {
    background-color: #000000;
    padding-bottom: 40px;
    h5 {
        padding-top: 68px;
        padding-bottom: 5px;
        padding-left: 10px;
    }
    h3 {
        padding-bottom: 25px;
        padding-left: 10px;
    }
    p {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        padding-bottom: 23px;
    }
    .testimonials {
        text-align: center;
    }
    article {
        background: rgba(255, 255, 255, 0.08);
        border-radius: 10px;
        margin: 10px 10px;
        .profile {
            ul {
                display: flex;
                flex-direction: row;
                padding: 10px;
                align-items: flex-start;
                li:nth-of-type(2) {
                    ul {
                        margin-left: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0;
                        li {
                            p {
                                padding: 0;
                            }
                        }
                    }
                } 
            }
            h4 {
                font-family: "Bebas Neue";
                font-size: 21px;
                line-height: 21px;
                letter-spacing: 2px;
                color: #FFB548;
                padding-top: 9px;
                margin: 0;
            }
            img {
                width: 40px;
            }
        }
    }
    article:nth-of-type(1) {
        background: rgba(255, 255, 255, 0.08);
        border-radius: 10px;
        .first_article {
         ul {
             li:nth-of-type(2) {
                // ul {
                //     display: flex;
                //     flex-direction: column;
                //     justify-content: space-around;

                //     padding: 0;
                //     li {
                //         p {
                //             padding: 0;
                //         }
                //     }
                // }
             }
         }
        }

    }
    article:nth-of-type(2) {
        background: rgba(255, 255, 255, 0.08);
        border-radius: 10px;
        position: relative;
    }
    article:nth-of-type(3) {
        background: rgba(255, 255, 255, 0.08);
        border-radius: 10px;
    }
}