@import "variable";

section:nth-of-type(4) {
    background-color: #000000;
    padding-bottom: 40px;
    h5 {
        padding-top: 68px;
        padding-bottom: 5px;
        padding-left: 10px;
        text-align: left;
    }
    h3 {
        padding-bottom: 25px;
        padding-left: 10px;
    }
    p {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        padding-bottom: 23px;
    }
    .testimonials {
        text-align: center;
    }
    article {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        margin: 10px 10px;
        border-radius: 10px;
        background-image: "url(./img/twiter_grey.svg)";
        background-repeat: no-repeat;
        background-position: right top;
        .more_information {
            li:nth-of-type(2) {
                p {
                    color: #FFFFFF;
                    opacity: 0.5;;
                }
            }
        }
        .profile {
            ul {
                display: flex;
                flex-direction: row;
                padding: 10px;
                align-items: flex-start;
                padding-bottom: 20px;
                li:nth-of-type(1) {
                    img {
                        width: 100%;
                    }
                }
                li:nth-of-type(2) {
                    ul {
                        margin-left: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0;
                        li {
                            p {
                                padding: 0;
                            }
                        }
                    }
                } 
            }
            h4 {
                font-family: "Bebas Neue";
                font-size: 21px;
                line-height: 21px;
                letter-spacing: 2px;
                color: #FFB548;
                padding-top: 9px;
                margin: 0;
            }
            img {
                width: 40px;
            }
        }
    }
    // article:nth-of-type(1) {
    // 
    // }
    // article:nth-of-type(2) {
    // 
    // }
    // article:nth-of-type(3) {
    // 
    // }
}