@import "variable";

section:first-of-type {
    position: relative;
    background-image: url("../img/social_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    h5 {
        text-align: left;
        padding-top: 48px;
        padding-bottom: 5px;
        margin: -1px;
    }
    h3 {
        padding-bottom: 50px;
        border-bottom: 1px solid white;
    }
    ul {
        padding-left: 36px;
        padding-top: 33px;
        padding-right: 14px;
        padding-bottom: 50px;
        margin-bottom: -50px;
        li {
            p {
                color: #FFFFFF;
            }
        }
    }
    .social_images {
        max-width: 400px;
        list-style: none;
        margin: 32px;
        padding: 0;
        position: relative;
        padding-bottom: calc(100% * 273 / 249);
        li:nth-of-type(1) {
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            right: calc(100% * 24 / 249);
        }
        
        li:nth-of-type(2) {
            object-fit: cover;
            position: absolute;
            z-index: 2;
            left: calc(100% * (12 * 3) / 249);
            top: 0;
            transform: scale(calc(249 / 273));
            right: calc(100% * 1 / 249);
        }
        li:nth-of-type(3) {
            object-fit: cover;
            position: absolute;
            z-index: 1;
            transform: scale(calc(229 / 273));
            left: calc(100% * (12 * 3) / 249);
            top: 0;
            right: calc(100% * -24/ 249);
        }

        img {
            width: 100%;
            display: block;
            border-radius: 10px;
        }
    }
}



// @media(min-width: 1120px) {
//     section:first-of-type {
//         h5 {
//             text-align: left;
//             padding-top: 256px;
//             padding-bottom: 5px;
//             padding-left: 0;
//             padding-right: 0;
//         }
//         h3 {
//             padding-left: 0;
//             padding-right: 0;
//             padding-bottom: 5px;
//             margin: 0;
//             max-width: 410px;
//             font-style: normal;
//             font-weight: 400;
//             font-size: 80px;
//             line-height: 80px;
//             letter-spacing: 3px;
//             text-transform: uppercase;
//         }
//         ul {
//             padding-left: 150px;
//             padding-top: 33px;
//             padding-right: 14px;
//             padding-bottom: 169px;
//             font-family: Open Sans;
//             font-weight: 400;
//             font-size: 18px;
//             line-height: 22px;
//             text-align: justify;
//             max-width: 364px;
//             max-height: 173px;
//             li {
//                 p {
//                     color: #FFFFFF;
//                 }
//             }
//         }
//         .social1 {
//             position: absolute;
//             top: 239px;
//             z-index: 3;
//             left: calc(50vw + 50px);
//             width: 450px;
//             height: 550px;
//             border-radius: 10px;
//         }
//         .social2 {
//             top: 269px;
//             position: absolute;
//             z-index: 2;
//             left: calc(50vw + 140px);
//             width: 380px;
//             height: 500px;
//             border-radius: 8px;
//         }
//         .social3 {
//             top: 289px;
//             position: absolute;
//             left: calc(50vw + 160px);
//             z-index: 1;
//             width: 380px;
//             height: 460px;
//             border-radius: 6px;
//         }
//     }
// }


