@import "variable";

section:nth-of-type(3) {
    position: relative;
    background-image: url(../img/system_back_small.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: cover;
    h5 {
        padding-top: 68px;
        text-align: center;
    }
    h3 {
        padding-top: 16px;
        text-align: center;
        padding-bottom: 40px;
    }
    .proprety_detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 6px;
        padding-bottom: 234px;
        padding-right: 20px;
        padding-left: 20px;
        max-width: 289px;
        max-height: 316px;
    }
    .proprety_detail li:nth-of-type(1) {
        grid-column: 1 / 1;
        grid-row: 1;
        padding: 8px;
        border: .5px solid #464545;
    }
    .proprety_detail li:nth-of-type(2) {
        grid-column: 2 / 2;
        grid-row: 1;
        padding: 8px;
        border: .5px solid #464545;
    }
    .proprety_detail li:nth-of-type(3) {
        grid-column: 1 / 1;
        grid-row: 2;
        padding: 8px;
        border: .5px solid #464545;
    }
    .proprety_detail li:nth-of-type(4) {
        grid-column: 2 / 2;
        grid-row: 2;
        padding: 8px;
        border: .5px solid #464545;
    }
    .proprety_detail li:nth-of-type(5) {
        grid-column: 1 / 3;
        grid-row: 3;
        padding: 8px;
        border: .5px solid #464545;
    }
    .proprety_detail h5 {
        font-family: "Bebas Neue";
        padding-top: 68px;
        text-align: left;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 2px;
        color: #FFB548;
        padding-top: 0;
    }
    .proprety_detail p {
        font-family: "Open Sans";
        font-style: normal;
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        padding: 4px 0;
        margin: 0;
    }
}

@media(min-width: 550px) {
    section:nth-of-type(3) {
        position: relative;
        background-image: url(../img/system_back.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media(min-width: 1120px) {
    section:nth-of-type(3) {
        position: relative;
        background-image: url(../img/system_back.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        h5 {
            padding-top: 68px;
        }
        h3 {
            padding-top: 16px;
            text-align: center;
            padding-bottom: 130px;
        }
        .proprety_detail {
            text-align: center;
            padding-bottom: 172px;
            padding-right: 0;
            max-width: 500px;
            height: 400px;
        }
        .proprety_detail h5 {
            padding-top: 68px;
            text-align: left;
            color: #FFB548;
            padding-top: 0;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 2px;
        }
        .proprety_detail p {
            text-align: left;
            font-weight: 400;
            padding: 4px 0;
            margin: 0;
            font-style: normal;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
    
}