$margin: 2px;
$padding: 2px;
$max-width:16px;
$min-width:16px;
$min-height: 16px;
$max-height: 16px;
$color: #FFFFFF;
$margin-auto: auto;
$text-aling-left: left;
$text-aling-center: center;
$max-width-cotainer: 1114px;
$background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);



// $fonts: (
//   (
//     family: 'Open Sans',
//     filename: 'openSans',
//     weight: 400,
//     style: normal,
//   ),
//   (
//     family: 'Open Sans',
//     filename: 'openSans',
//     weight: 700,
//     style: normal,
//   ),
//   (
//     family: 'Bebas Neue',
//     filename: 'BebasNeue',
//     weight: 400,
//     style: normal,
//   ),
// );

// @each $font in $fonts {
//   @font-face {
//     font-family: map-get($font,  'family');
//     font-weight: map-get($font, 'weight');
//     font-style: map-get($font, 'style');
//     src: local(map-get($font, 'family'));
//     src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2),
//       url('./fonts/map-get($font, "filename")-regular.woff') format(woff);
//     font-style: map-get($font, 'normal');
//   }
// }
