$text-aling-left: left;
$text-aling-center: center;
$color: #FFFFFF;
$margin: 0;
$margin-auto: auto;
$min-width:16px;
$min-height: 16px;
$max-width:16px;
$max-height: 16px;
$max-width-cotainer: 1114px;
$padding: 2px;