body > header {
  position: relative; }
  body > header .header_navigation {
    display: none; }
  body > header .head_logo {
    position: absolute;
    top: 0px;
    left: 10px; }
  body > header form {
    position: absolute;
    top: 18px;
    left: 175px; }
  body > header .menu {
    position: absolute;
    top: 18px;
    left: 270px; }

@media (min-width: 1120px) {
  body > header {
    position: relative; }
    body > header .header_navigation {
      display: block;
      color: #FFFFFF;
      text-transform: uppercase; }
      body > header .header_navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
    body > header .head_logo {
      position: absolute;
      top: 0px;
      left: 10px; }
    body > header form {
      position: absolute;
      top: 18px;
      left: calc(50vw - 59px); }
    body > header .menu {
      position: absolute;
      top: 18px;
      left: 270px; } }

main > header {
  background-image: url(../Webroot/img/masthead_back.png);
  background-repeat: no-repeat;
  background-size: cover; }
  main > header h3 {
    text-align: center;
    padding-top: 179px; }
  main > header h5 {
    padding-top: 7px;
    padding-bottom: 12px; }
  main > header p {
    font-family: "Open Sans"; }
  main > header .history_dropdown {
    padding-top: 174px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 16px;
    padding-bottom: 49px; }
    main > header .history_dropdown ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      main > header .history_dropdown ul li:nth-of-type(2) ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        main > header .history_dropdown ul li:nth-of-type(2) ul li {
          padding-right: 6px; }
        main > header .history_dropdown ul li:nth-of-type(2) ul li:nth-of-type(1) {
          margin-top: 12px; }

body {
  font-family: "Open Sans";
  margin: 0;
  background-color: brown;
  position: relative;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  margin: 0;
  padding: 0; }

h3 {
  font-family: "Bebas Neue";
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0; }

h5 {
  font-family: "Bebas Neue";
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0; }

p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  color: #FFFFFF; }

.add {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 3px;
  border: none; }

@media (min-width: 720px) {
  .container {
    max-width: 900px;
    margin: auto; } }

@media (min-width: 1120px) {
  h3 {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0; }
  .container {
    max-width: 1114px;
    margin: auto; } }

section:first-of-type {
  position: relative;
  background-image: url("../img/social_back.png");
  background-repeat: no-repeat;
  background-size: cover; }
  section:first-of-type h5 {
    text-align: left;
    padding-top: 48px;
    padding-left: 14px;
    padding-bottom: 5px;
    margin: -1px; }
  section:first-of-type h3 {
    padding-left: 13px;
    padding-bottom: 50px;
    border-bottom: 1px solid white; }
  section:first-of-type ul {
    padding-left: 36px;
    padding-top: 33px;
    padding-right: 14px;
    padding-bottom: 260px; }
    section:first-of-type ul li p {
      color: #FFFFFF; }
  section:first-of-type .social1 {
    position: absolute;
    top: 540px;
    z-index: 3;
    left: calc(50vw - 135px);
    background-position: 0 0;
    width: 225px;
    height: 273px;
    border-radius: 5px; }
  section:first-of-type .social2 {
    top: 550px;
    position: absolute;
    z-index: 2;
    left: calc(50vw - 90px);
    background-position: 0 0;
    width: 196px;
    height: 252px;
    border-radius: 5px; }
  section:first-of-type .social3 {
    top: 560px;
    position: absolute;
    left: calc(50vw - 75px);
    z-index: 1;
    background-position: 0 0;
    width: 196px;
    height: 229px;
    border-radius: 5px; }

@media (min-width: 1120px) {
  section:first-of-type h5 {
    text-align: left;
    padding-top: 256px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0; }
  section:first-of-type h3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    margin: 0;
    max-width: 410px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  section:first-of-type ul {
    padding-left: 150px;
    padding-top: 33px;
    padding-right: 14px;
    padding-bottom: 169px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    max-width: 364px;
    max-height: 173px; }
    section:first-of-type ul li p {
      color: #FFFFFF; }
  section:first-of-type .social1 {
    position: absolute;
    top: 239px;
    z-index: 3;
    left: calc(50vw + 50px);
    background-position: 0 0;
    width: 450px;
    height: 550px;
    border-radius: 10px; }
  section:first-of-type .social2 {
    top: 269px;
    position: absolute;
    z-index: 2;
    left: calc(50vw + 140px);
    background-position: 0 0;
    width: 380px;
    height: 500px;
    border-radius: 8px; }
  section:first-of-type .social3 {
    top: 289px;
    position: absolute;
    left: calc(50vw + 160px);
    z-index: 1;
    background-position: 0 0;
    width: 380px;
    height: 460px;
    border-radius: 6px; } }

section:nth-of-type(2) {
  background-image: url("../img/real_social_back.png");
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-size: cover; }
  section:nth-of-type(2) h5 {
    text-align: center;
    padding-top: 100px;
    padding-left: 70px;
    margin: 0; }
  section:nth-of-type(2) h3 {
    text-align: center;
    padding-top: 5px;
    padding-left: 45px;
    padding-bottom: 40px;
    margin: 0; }
  section:nth-of-type(2) .detail {
    padding-bottom: 90px; }
  section:nth-of-type(2) details {
    text-align: center;
    color: #FFB548;
    padding-left: 100px;
    padding-right: 18px;
    padding-bottom: 43px;
    margin: 0; }

@media (min-width: 1120px) {
  section:nth-of-type(2) {
    max-width: 1300px;
    max-height: 100vw; }
    section:nth-of-type(2) h5 {
      text-align: center;
      padding-top: 258px;
      margin: 0; }
    section:nth-of-type(2) h3 {
      text-align: center;
      padding-top: 5px;
      padding-left: 25px;
      padding-bottom: 18px;
      margin: 0; }
    section:nth-of-type(2) details {
      text-align: left;
      color: #FFB548;
      padding-left: 110px;
      padding-right: 18px;
      margin: 0; } }

section:nth-of-type(4) article h4 {
  color: #FFB548; }

section:nth-of-type(5) ul li p a {
  color: #FFB548; }

section:nth-of-type(3) {
  position: relative;
  background-image: url(../img/system_back_small.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  section:nth-of-type(3) h5 {
    padding-top: 68px;
    text-align: center; }
  section:nth-of-type(3) h3 {
    padding-top: 16px;
    text-align: center;
    padding-bottom: 40px; }
  section:nth-of-type(3) .proprety_detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 6px;
    padding-bottom: 234px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 289px;
    max-height: 316px; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(1) {
    grid-column: 1 / 1;
    grid-row: 1;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(2) {
    grid-column: 2 / 2;
    grid-row: 1;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(3) {
    grid-column: 1 / 1;
    grid-row: 2;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(4) {
    grid-column: 2 / 2;
    grid-row: 2;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(5) {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail h5 {
    font-family: "Bebas Neue";
    padding-top: 68px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #FFB548;
    padding-top: 0; }
  section:nth-of-type(3) .proprety_detail p {
    font-family: "Open Sans";
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 4px 0;
    margin: 0; }

@media (min-width: 550px) {
  section:nth-of-type(3) {
    position: relative;
    background-image: url(../img/system_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; } }

@media (min-width: 1120px) {
  section:nth-of-type(3) {
    position: relative;
    background-image: url(../img/system_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    section:nth-of-type(3) h5 {
      padding-top: 68px; }
    section:nth-of-type(3) h3 {
      padding-top: 16px;
      text-align: center;
      padding-bottom: 130px; }
    section:nth-of-type(3) .proprety_detail {
      text-align: center;
      padding-bottom: 172px;
      padding-right: 0;
      max-width: 500px;
      height: 400px; }
    section:nth-of-type(3) .proprety_detail h5 {
      padding-top: 68px;
      text-align: left;
      color: #FFB548;
      padding-top: 0;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 2px; }
    section:nth-of-type(3) .proprety_detail p {
      text-align: left;
      font-weight: 400;
      padding: 4px 0;
      margin: 0;
      font-style: normal;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF; } }

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue"), url(../fonts/AnyConv.com__BebasNeue-Regular.woff2), url(../fonts/AnyConv.com__BebasNeue-Regular.woff); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url(../fonts/AnyConv.com__OpenSans-Regular.woff2), url(../fonts/AnyConv.com__OpenSans-Regular.woff); }
