body > header {
  position: relative; }
  body > header .header_navigation {
    display: none; }
  body > header .head_logo {
    position: absolute;
    top: 0px;
    left: 10px; }
  body > header form {
    position: absolute;
    top: 18px;
    left: 175px; }
  body > header .menu {
    position: absolute;
    top: 18px;
    left: 270px; }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

main > header {
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  padding-top: 9px;
  background-size: cover;
  text-align: center; }
  main > header h3 {
    font-family: "Bebas Neu";
    padding-top: 179px;
    margin: 0; }
  main > header h5 {
    font-family: Bebas Neue;
    margin: 0;
    padding-top: 7px;
    margin: auto;
    padding-bottom: 12px; }
  main > header .history_dropdown {
    padding-top: 174px; }
  main > header .history_dropdown {
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 16px;
    padding-bottom: 49px; }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

body {
  margin: 0;
  background-color: brown;
  position: relative;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF; }

h5 {
  font-family: Bebas Neue;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF; }

.add {
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 3px;
  border: none; }

@media (min-width: 1140px) {
  .container {
    max-width: 1060px;
    margin: auto; } }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

section:first-of-type {
  position: relative;
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover; }
  section:first-of-type h5 {
    text-align: left;
    padding-top: 48px;
    padding-left: 14px;
    padding-bottom: 5px;
    margin: -1px; }
  section:first-of-type h3 {
    padding-left: 13px;
    padding-bottom: 5px;
    margin: 0; }
  section:first-of-type ul {
    padding-left: 36px;
    padding-top: 33px;
    padding-right: 14px;
    padding-bottom: 40px; }
    section:first-of-type ul li p {
      color: #FFFFFF; }
  section:first-of-type .social1 {
    position: absolute;
    top: 379px;
    z-index: 1;
    left: calc(50% - 400px);
    background-position: 0 0; }
  section:first-of-type .social2 {
    top: 379px;
    position: absolute;
    z-index: 2;
    left: calc(50% - 400px);
    background-position: 0 0; }
  section:first-of-type .social3 {
    top: 379px;
    position: absolute;
    left: calc(50% - 400px);
    z-index: 3;
    background-position: 0 0; }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

section:nth-of-type(2) h5 {
  text-align: center;
  padding-top: 82px;
  padding-left: 50px;
  margin: 0; }

section:nth-of-type(2) h3 {
  text-align: center;
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 18px;
  margin: 0; }

section:nth-of-type(2) details {
  text-align: center;
  color: #FFFFFF;
  left: calc(50% - 80px);
  padding-right: 18px; }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff') format(woff); }

@font-face {
  font-family: Bebas Neue;
  font-weight: 700;
  font-style: normal;
  src: local(Bebas Neue), url(../Webroot/fonts/AnyConv.com__BebasNeue-Regular.woff), url(../Webroot/fonts/AnyConv.com__BebasNeue-Regular.woff2); }

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  src: local(Open Sans), url(../Webroot/fonts/AnyConv.com__OpenSans-Regular.woff), url(../Webroot/fonts/AnyConv.com__OpenSans-Regular.woff2); }
