body > header {
  position: relative; }
  body > header .header_navigation {
    display: none; }
  body > header .head_logo {
    position: absolute;
    top: 0px;
    left: 10px; }
  body > header form {
    position: absolute;
    top: 18px;
    left: 175px; }
  body > header .menu {
    position: absolute;
    top: 18px;
    left: 270px; }

@media (min-width: 1120px) {
  body > header {
    position: relative; }
    body > header .header_navigation {
      display: block;
      color: #FFFFFF;
      text-transform: uppercase; }
      body > header .header_navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
    body > header .head_logo {
      position: absolute;
      top: 0px;
      left: 10px; }
    body > header form {
      position: absolute;
      top: 18px;
      left: calc(50vw - 59px); }
    body > header .menu {
      position: absolute;
      top: 18px;
      left: 270px; } }

main > header {
  background-image: url(../Webroot/img/masthead_back.png);
  background-repeat: no-repeat;
  background-size: cover; }
  main > header h3 {
    text-align: center;
    padding-top: 179px; }
  main > header h5 {
    padding-top: 7px;
    padding-bottom: 12px; }
  main > header p {
    font-family: "Open Sans"; }
  main > header .history_dropdown {
    padding-top: 174px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 16px;
    padding-bottom: 49px; }
    main > header .history_dropdown ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      main > header .history_dropdown ul li:nth-of-type(2) ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        main > header .history_dropdown ul li:nth-of-type(2) ul li {
          padding-right: 6px; }
        main > header .history_dropdown ul li:nth-of-type(2) ul li:nth-of-type(1) {
          margin-top: 12px; }

footer {
  background-color: #000000; }
  footer .first_list_footer {
    border-bottom: 0.873968px solid #FFFFFF; }
  footer .footer_logo {
    padding-top: 30px;
    padding-bottom: 42px;
    text-align: center;
    margin: 0; }
  footer .footer_navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; }
    footer .footer_navigation li {
      color: #FFFFFF;
      text-transform: uppercase;
      margin: 0;
      flex-basis: auto;
      padding-top: 20px;
      padding-bottom: 20px; }
  footer .footer_navigation_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; }
    footer .footer_navigation_icons li {
      margin: 0;
      flex-basis: auto;
      padding-top: 20px;
      padding-bottom: 20px; }
  footer .extra {
    margin: 0;
    padding-top: 15px; }
    footer .extra .first_footer_link {
      text-align: center;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      opacity: 0.5;
      padding-top: 25px;
      padding-bottom: 25px; }
      footer .extra .first_footer_link a {
        color: #FFFFFF; }
    footer .extra .footer_policy {
      padding-bottom: 65px; }
      footer .extra .footer_policy li {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF; }
        footer .extra .footer_policy li a {
          color: #FFFFFF; }

@media (min-width: 1120px) {
  footer .first_list_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px; }
    footer .first_list_footer ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center; }
      footer .first_list_footer ul li {
        padding: 0 1rem; }
    footer .first_list_footer .footer_logo {
      padding: 0;
      text-align: left;
      margin: 0; }
      footer .first_list_footer .footer_logo a img {
        width: 90px; }
  footer .extra {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between; }
    footer .extra .footer_policy {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between; }
      footer .extra .footer_policy li {
        padding: 0 1rem; } }

body {
  font-family: "Open Sans";
  margin: 0;
  background-color: brown;
  position: relative;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  margin: 0;
  padding: 0; }

h3 {
  font-family: "Bebas Neue";
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0; }

h5 {
  font-family: "Bebas Neue";
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0; }

p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF; }

.add {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 10px;
  border: none; }

a {
  text-decoration: none; }

@media (min-width: 720px) {
  .container {
    max-width: 800px;
    margin: auto; }
  h3 {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0; }
  h5 {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #FFFFFF; } }

@media (min-width: 1120px) {
  h3 {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .container {
    max-width: 1114px;
    margin: auto; }
  h5 {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF; }
  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; } }

section:first-of-type {
  position: relative;
  background-image: url("../img/social_back.png");
  background-repeat: no-repeat;
  background-size: cover; }
  section:first-of-type h5 {
    text-align: left;
    padding-top: 48px;
    padding-bottom: 5px; }
  section:first-of-type h3 {
    padding-bottom: 50px;
    border-bottom: 1px solid white; }
  section:first-of-type ul {
    padding-left: 36px;
    padding-top: 33px;
    padding-right: 14px;
    padding-bottom: 50px;
    margin-bottom: -50px; }
    section:first-of-type ul li p {
      color: #FFFFFF; }
  section:first-of-type .social_images {
    max-width: 400px;
    list-style: none;
    padding: 0;
    position: relative;
    padding-bottom: calc(100% * 273 / 249); }
    section:first-of-type .social_images li:nth-of-type(1) {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      right: calc(100% * 24 / 249); }
    section:first-of-type .social_images li:nth-of-type(2) {
      object-fit: cover;
      position: absolute;
      z-index: 2;
      left: calc(100% * (12 * 3) / 249);
      top: 0;
      transform: scale(calc(249 / 273));
      right: calc(100% * 1 / 249); }
    section:first-of-type .social_images li:nth-of-type(3) {
      object-fit: cover;
      position: absolute;
      z-index: 1;
      transform: scale(calc(229 / 273));
      left: calc(100% * (12 * 3) / 249);
      top: 0;
      right: calc(100% * -24/ 249); }
    section:first-of-type .social_images img {
      width: 100%;
      display: block;
      border-radius: 10px; }

@media (min-width: 1120px) {
  section:first-of-type h5 {
    text-align: left;
    padding-top: 256px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0; }
  section:first-of-type h3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    margin: 0;
    max-width: 410px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  section:first-of-type ul {
    padding-left: 150px;
    padding-top: 33px;
    padding-right: 14px;
    padding-bottom: 169px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    max-width: 364px;
    max-height: 173px; }
    section:first-of-type ul li p {
      color: #FFFFFF; } }

section:nth-of-type(2) {
  background-image: url("../img/social_back_small.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  section:nth-of-type(2) h5 {
    text-align: center;
    padding-top: 100px;
    padding-left: 75px;
    margin: 0; }
  section:nth-of-type(2) h3 {
    text-align: center;
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 40px;
    margin: 0; }
  section:nth-of-type(2) .detail {
    padding-bottom: 90px;
    padding-left: calc(50vw - 45px); }
  section:nth-of-type(2) details {
    text-align: left;
    color: #FFB548;
    padding-bottom: 43px;
    margin: 0; }
    section:nth-of-type(2) details summary {
      font-family: "Bebas Neue";
      font-size: 21px;
      text-transform: uppercase;
      line-height: 21px;
      letter-spacing: 2px;
      color: #FFB548; }
    section:nth-of-type(2) details section:nth-of-type(2) details {
      position: relative; }
    section:nth-of-type(2) details summary::-webkit-details-marker {
      display: none; }
    section:nth-of-type(2) details summary::before {
      content: "";
      position: absolute;
      padding: .3rem;
      border: 1px solid white;
      border-radius: 50%;
      top: .5rem;
      left: 1rem;
      z-index: 2; }
  section:nth-of-type(2) details[open] > summary {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    left: -2rem;
    z-index: 1; }
    section:nth-of-type(2) details[open] > summary section:nth-of-type(2) details {
      position: relative; }
    section:nth-of-type(2) details[open] > summary summary::-webkit-details-marker {
      display: none; }
    section:nth-of-type(2) details[open] > summary summary::before {
      content: "";
      position: absolute;
      padding: .3rem;
      border: 1px solid white;
      border-radius: 50%;
      top: .5rem;
      left: 1rem;
      z-index: 2; }

@media (min-width: 720px) {
  section:nth-of-type(2) {
    background-image: url("../img/feature_back.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%; }
    section:nth-of-type(2) h5 {
      text-align: center;
      padding-top: 100px;
      padding-left: 90px; }
    section:nth-of-type(2) h3 {
      text-align: center;
      padding-top: 15px;
      padding-left: 130px;
      padding-bottom: 40px; }
    section:nth-of-type(2) .detail {
      padding-bottom: 90px;
      padding-left: calc(50vw - 15px); }
    section:nth-of-type(2) details {
      text-align: left;
      color: #FFB548;
      padding-bottom: 43px;
      margin: 0; } }

@media (min-width: 1120px) {
  section:nth-of-type(2) {
    background-image: url("../img/real_social_back.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    section:nth-of-type(2) h5 {
      padding-left: calc(50vw - 45px);
      padding-top: 160px;
      padding-left: 250px;
      margin: 0; }
    section:nth-of-type(2) h3 {
      text-align: center;
      padding-top: 5px;
      padding-left: calc(50vw - 347px);
      padding-bottom: 70px;
      margin: 0; }
    section:nth-of-type(2) details {
      text-align: left;
      color: #FFB548;
      padding-right: 18px;
      padding-bottom: 35px;
      margin: 0;
      font-family: "Bebas Neue";
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 36px;
      letter-spacing: 2px; }
    section:nth-of-type(2) .detail {
      padding-bottom: 258px;
      padding-left: calc(50vw - 40px); } }

section:nth-of-type(4) {
  background-color: #000000;
  padding-bottom: 40px; }
  section:nth-of-type(4) h5 {
    padding-top: 68px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left; }
  section:nth-of-type(4) h3 {
    text-align: left;
    padding-bottom: 25px;
    padding-left: 10px; }
  section:nth-of-type(4) p {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    padding-bottom: 23px; }
  section:nth-of-type(4) .wrapper_button {
    text-align: center; }
    section:nth-of-type(4) .wrapper_button .testimonials {
      text-align: center; }

@media (min-width: 720px) {
  section:nth-of-type(4) .testimonials {
    margin-bottom: 100px; } }

@media (min-width: 1120px) {
  section:nth-of-type(4) {
    background-color: #000000;
    padding-bottom: 40px; }
    section:nth-of-type(4) .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    section:nth-of-type(4) h5 {
      padding-top: 300px;
      padding-bottom: 8px;
      text-align: left;
      padding-left: 0; }
    section:nth-of-type(4) h3 {
      padding-bottom: 50px;
      padding-top: 0;
      padding-left: 0; }
    section:nth-of-type(4) p {
      max-width: 434px;
      padding-bottom: 37px;
      padding-left: 0; }
    section:nth-of-type(4) .testimonials {
      margin-bottom: 260px; }
    section:nth-of-type(4) .wrapper_button {
      text-align: left; }
      section:nth-of-type(4) .wrapper_button .testimonials {
        text-align: left;
        padding: 20px 40px; } }

section:nth-of-type(4) .detail_profile article {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 10px 10px;
  border-radius: 10px;
  max-width: 400px; }
  section:nth-of-type(4) .detail_profile article .more_information li:nth-of-type(1) {
    max-width: 390px; }
  section:nth-of-type(4) .detail_profile article .more_information li:nth-of-type(2) p {
    color: #FFFFFF;
    opacity: 0.5; }
  section:nth-of-type(4) .detail_profile article .profile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px; }
    section:nth-of-type(4) .detail_profile article .profile ul .profile_detail {
      padding: 0;
      display: flex;
      flex-direction: row; }
      section:nth-of-type(4) .detail_profile article .profile ul .profile_detail li:nth-of-type(1) img {
        width: 80%;
        margin-top: -16px; }
      section:nth-of-type(4) .detail_profile article .profile ul .profile_detail li:nth-of-type(2) ul {
        display: flex;
        flex-direction: column; }
        section:nth-of-type(4) .detail_profile article .profile ul .profile_detail li:nth-of-type(2) ul li:nth-of-type(2) p {
          padding: 0 0;
          font-size: 14px;
          line-height: 22px;
          text-align: justify;
          color: #FFFFFF;
          opacity: 0.5; }
  section:nth-of-type(4) .detail_profile article .profile h4 {
    font-family: "Bebas Neue";
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #FFB548;
    padding-bottom: 3px;
    margin: 0; }
  section:nth-of-type(4) .detail_profile article .profile img {
    width: 30px;
    padding-top: 16px; }

@media (min-width: 720px) {
  section:nth-of-type(4) .detail_profile {
    text-align: left; }
    section:nth-of-type(4) .detail_profile article {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      margin: 15px 0;
      border-radius: 10px;
      max-width: 400px; }
      section:nth-of-type(4) .detail_profile article .more_information li:nth-of-type(1) {
        max-width: 390px; } }

@media (min-width: 1120px) {
  section:nth-of-type(4) .detail_profile {
    padding-top: 160px; }
    section:nth-of-type(4) .detail_profile article:nth-of-type(2) {
      transform: translateX(-30%); }
    section:nth-of-type(4) .detail_profile article:nth-of-type(3) {
      transform: translateX(-15%); }
    section:nth-of-type(4) .detail_profile article {
      margin-bottom: 29px; }
      section:nth-of-type(4) .detail_profile article .more_information {
        padding-left: 15px; }
      section:nth-of-type(4) .detail_profile article .profile ul .profile_detail li:nth-of-type(1) img {
        width: 100%; }
      section:nth-of-type(4) .detail_profile article .profile ul .profile_detail li:nth-of-type(2) ul li:nth-of-type(1) h4 {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 2px; }
      section:nth-of-type(4) .detail_profile article .profile ul .profile_detail li:nth-of-type(2) ul li:nth-of-type(2) p {
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        color: #FFFFFF;
        opacity: 0.5; }
      section:nth-of-type(4) .detail_profile article .profile img {
        width: 40px;
        padding-top: 16px; } }

section:nth-of-type(5) {
  background-color: black;
  background-image: url(./img/newletter_subscribe.png);
  text-align: center; }
  section:nth-of-type(5) .wrapper {
    margin-left: 120px; }
    section:nth-of-type(5) .wrapper h5 {
      padding-top: 60px;
      padding-bottom: 5px;
      text-align: left; }
    section:nth-of-type(5) .wrapper h3 {
      text-align: left; }
    section:nth-of-type(5) .wrapper p {
      text-align: left;
      padding-bottom: 47px;
      padding-right: 4px; }
  section:nth-of-type(5) ul li p {
    margin: 0; }
  section:nth-of-type(5) ul li:nth-of-type(1) {
    display: inline-block;
    padding-left: 6px;
    padding-right: 100px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    text-align: initial; }
    section:nth-of-type(5) ul li:nth-of-type(1) p {
      margin: 0;
      color: #FFFFFF; }
      section:nth-of-type(5) ul li:nth-of-type(1) p a {
        color: #FFB548;
        opacity: 1; }
  section:nth-of-type(5) ul li:nth-of-type(2) p {
    margin: 0;
    color: #FFFFFF; }
    section:nth-of-type(5) ul li:nth-of-type(2) p .subscribe {
      padding: 18px 90px; }
    section:nth-of-type(5) ul li:nth-of-type(2) p a {
      color: #FFB548;
      opacity: 1; }

@media (min-width: 1120px) {
  section:nth-of-type(5) {
    background-color: black;
    background-image: url(./img/newletter_subscribe.png); }
    section:nth-of-type(5) .wrapper {
      margin-left: 450px; }
      section:nth-of-type(5) .wrapper h5 {
        padding-top: 220px;
        padding-bottom: 5px;
        text-align: left; }
      section:nth-of-type(5) .wrapper h3 {
        text-align: left; }
      section:nth-of-type(5) .wrapper p {
        text-align: left;
        padding-bottom: 45px; }
    section:nth-of-type(5) ul {
      display: flex;
      flex-direction: row;
      margin-left: 450px; }
      section:nth-of-type(5) ul li:nth-of-type(1) {
        padding-left: 6px;
        margin: 0;
        margin-right: 1rem;
        padding-top: 4.5px;
        padding-bottom: 4.5px; }
        section:nth-of-type(5) ul li:nth-of-type(1) p {
          margin: 0; } }

section:nth-of-type(3) {
  position: relative;
  background-image: url(../img/system_back_small.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  section:nth-of-type(3) h5 {
    padding-top: 68px;
    text-align: center; }
  section:nth-of-type(3) h3 {
    padding-top: 16px;
    text-align: center;
    padding-bottom: 40px; }
  section:nth-of-type(3) .proprety_detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 6px;
    padding-bottom: 234px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 289px;
    max-height: 316px; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(1) {
    grid-column: 1 / 1;
    grid-row: 1;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(2) {
    grid-column: 2 / 2;
    grid-row: 1;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(3) {
    grid-column: 1 / 1;
    grid-row: 2;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(4) {
    grid-column: 2 / 2;
    grid-row: 2;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail li:nth-of-type(5) {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 8px;
    border: .5px solid #464545; }
  section:nth-of-type(3) .proprety_detail h5 {
    font-family: "Bebas Neue";
    padding-top: 68px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #FFB548;
    padding-top: 0; }
  section:nth-of-type(3) .proprety_detail p {
    font-family: "Open Sans";
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 4px 0;
    margin: 0; }

@media (min-width: 500px) {
  section:nth-of-type(3) {
    position: relative;
    background-image: url(../img/system_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; } }

@media (min-width: 1120px) {
  section:nth-of-type(3) {
    position: relative;
    background-image: url(../img/system_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    section:nth-of-type(3) h5 {
      padding-top: 68px; }
    section:nth-of-type(3) h3 {
      padding-top: 16px;
      text-align: center;
      padding-bottom: 130px; }
    section:nth-of-type(3) .proprety_detail {
      text-align: center;
      padding-bottom: 172px;
      padding-right: 0;
      max-width: 500px;
      height: 400px; }
    section:nth-of-type(3) .proprety_detail h5 {
      padding-top: 68px;
      text-align: left;
      color: #FFB548;
      padding-top: 0;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 2px; }
    section:nth-of-type(3) .proprety_detail p {
      text-align: left;
      font-weight: 400;
      padding: 4px 0;
      margin: 0;
      font-style: normal;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF; } }

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue"), url(../fonts/AnyConv.com__BebasNeue-Regular.woff2), url(../fonts/AnyConv.com__BebasNeue-Regular.woff); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url(../fonts/AnyConv.com__OpenSans-Regular.woff2), url(../fonts/AnyConv.com__OpenSans-Regular.woff); }
